.App {
  text-align: center;
  margin: 250px;
  padding: 20px;
  background-color: antiquewhite;
}

.question-section {
  margin: 20px;
}

.options button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.score-section {
  font-size: 24px;
  font-weight: bold;
}
.body{
  background-color: burlywood;
}